﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="default.aspx.cs" Inherits="OnAir2._default" %>
    <form id="form1" runat="server">
        <div>
            <h2>Now Playing on WZND</h2>
            <asp:image ID="DJImage" runat="server"></asp:image>
            <div id="description">
                <h3><asp:Label ID="DJWho" runat="server" Text="Label"></asp:Label></h3>
                <p>
                    Job Title: <asp:Label ID="JobTitle1" runat="server" Text="Label"></asp:Label><br />
                    Hours: <asp:Label ID="StartTime1" runat="server" Text="Label"></asp:Label> - <asp:Label ID="EndTime1" runat="server" Text="Label"></asp:Label><br />
                </p>
            </div>
        </div>
    </form>
